<!DOCTYPE html>
<html>
<head>
  <title>Automated ICD-10 coding</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{ url_for('static', filename='css/mdb.min.css')}}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
  <script>
    $(document).on("keypress", "#freetext", function(e){
      if(e.which == 32) {
        var inputVal = $(this).val().trim().split(" "),
          lastWord = inputVal[inputVal.length - 1];
          $.post("/suggest", {word : lastWord}, function(data) {
            var $el = $("#suggestions");
            if (Array.isArray(data)){
              $el.empty();
              data.forEach(function(li) {
                $el.append($('<span class="badge badge-pill badge-light" style="margin-left:4px;cursor:pointer">Light</span>')
                 .attr("value", li).text(li));
              });
              $el.css('visibility', 'visible');
            } else {
              $el.css('visibility', 'hidden');
            }
          });
        } else {
          var $el = $("#suggestions");
          $el.css('visibility', 'hidden');
        }
    });

    $(document).on("click", "#suggestions>span", function(){
      var value = this.textContent;
      $("input#freetext").val($("input#freetext").val() + value + " ");
      var $el = $("#suggestions");
      $el.css('visibility', 'hidden');
      $("input#freetext").focus();
      var e = jQuery.Event("keypress");
      e.which = 32;
      $("input#freetext").trigger(e);
    });

    setTimeout(function() {

      function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
      $("#thetable").on("click", "td", function() {
        copyToClipboard(this);
       });


      $("#submit").click(function(){
        $("div#icdsuggestions").css('visibility', 'visible');
        $.post("/generate", {phrase : $("input#freetext").val(), onlyBest: $("input#onlybest")[0].checked}, function(data) {
          $("div#icdsuggestions").css('visibility', 'hidden');
          $('#thetable tr').not(':first').not(':last').remove();
          var html = '';
          if (Array.isArray(data)) {
            for(var i = 0; i < data.length; i++){
              html += '<tr><td title="Click to copy">'+ (i + 1) + '</td> <td title="Click to copy">' + data[i][0] + '</td><td title="Click to copy">' + data[i][1] + '</td><td>' + data[i][2] + '</td></tr>';
            }
            $('#thetable tr').first().after(html);
          }
        });
        var $el = $("#suggestions");
            $el.css('visibility', 'hidden');
        return false;
      });

      $("#submitsimilar").click(function(){
        $.post("/similar", {similar : $("input#word").val()}, function(data) {
          var $el = $("#similarwords");
            if (Array.isArray(data)){
              $el.empty();
              data.forEach(function(li) {
                $el.append($('<span class="badge badge-pill badge-light" style="margin-left:4px;cursor:pointer">Light</span>')
                 .attr("value", li).text(li));
              });
              $el.css('visibility', 'visible');
            } else {
              $el.css('visibility', 'hidden');
            }
        });
        var $el = $("#similarwords");
            $el.css('visibility', 'hidden');
        return false;
      });

    }, 10);
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
    <a class="navbar-brand" href="#">Automated ICD10 Code</a>
  </nav>
  <main class="text-center py-5">
    <div class="container">
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="card col-md-6">
          <div class="card-body">
            <h4 class="card-title"><a>User input area</a></h4>
            <p class="font-weight-lighter">Input free text for diagnosis code</p>
            <form class="p-5" method="post" action="">
              <div id="suggestions" name="fruit" class="browser-default custom-select custom-select-md mb-3" style="visibility: hidden; display:table-row; margin: 12px;" multiple>
              </div>
              <div>&nbsp;</div>
              <input class="form-control" type="text" name="phrase" id="freetext" placeholder="Enter text" required>
              <input type="checkbox" id="onlybest">&nbsp;&nbsp; Only best results</input>
              <input class="btn btn-primary" type="submit" id="submit" value="Generate">
              <div id="icdsuggestions" class="spinner-border" style="visibility: hidden;"role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </form>
          </div>
        </div>
        <div class="p-4">
        </div>
        <div class="p-3">
        </div>
        <div class="p-1">
        </div>
        <div class="card col-md-5">
          <div class="card-body">
            <h4 class="card-title"><a>Words in context</a></h4>
            <p class="font-weight-lighter">Contextual words using GloVe model</p>
            <small>{{glove_shape}} vocabularies and 300 dimensions</small>
            <form class="p-5" method="post" action="">
              <div id="similarwords" name="similarwords" class="browser-default custom-select custom-select-md mb-3" style="visibility: hidden; display:table-row; margin: 12px;" multiple>
              </div>
              <!-- <div>&nbsp;</div> -->
              <input class="form-control" type="text" name="word" id="word" placeholder="Enter text" required>
              <input class="btn btn-primary" type="submit" id="submitsimilar" value="Search">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
           &nbsp;
      </div>
      <div class="row">
        <div class="card col-md-12">
          <div class="card-body" style="height:700px">
              <h4 class="card-title"><a id="copyToClipboard">Top suggested codes</a></h4>
              <table id="thetable" class="table">
                <tbody>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ICD 10 Code</th>
                      <th scope="col">Code Full Description</th>
                      <th scope="col">Match Percentage</th>
                    </tr>
                  </thead>
                  <tr></tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="row">
           &nbsp;
      </div>
      <div class="row">
        <div class="card col-md-6">
          <div class="card-body">
            <h5 class="card-title">Third Semester Project for MSCSKE</h5>
            <p class="card-text">Automated ICD-10 coding using NLP (Ngram and Similarity measurement). Submitted to the Department of Electronics and Computer Engineering, IOE (2075)</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ngram model ({{ngram_model}} MB)</li>
              <li class="list-group-item">GloVe model ({{glove_model}} MB)</li>
            </ul>
            <div>
              &nbsp;
            </div>
            <span class="badge badge-default">Python</span>
            <span class="badge badge-default">Flask</span>
            <span class="badge badge-default">Scrapy</span>
            <span class="badge badge-default">Jquery</span>
            <span class="badge badge-default">NLP</span>
            <span class="badge badge-default">GloVe</span>
            <span class="badge badge-default">ICD10</span>
            <div></div>
            <p class="font-weight-lighter">Nabin Khadka (074MSCSK004)</p>
            <a class="card-link" href="https://github.com/nabinkhadka/icd-10-ngram-text-similarity">Github</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js')}}"></script>
  
</body>
</html>